{% extends "base.html" %}
{% load static %}
{% block titulo %}-Productos{% endblock titulo %}-Productos

{% block contenido%}
  
  <div class="container mt-5">
    <div class="row">
      {% comment %} generamos la barra de navegacion lateral {% endcomment %}
      <div class="col-sm-3">
        <h3 class="mt-4">Productos:</h3>
        <ul class="nav nav-pills flex-column">
          {% for categoria in categorias %}
            {% if categoria == activo %}
              <li class="nav-item ">
                <a class="nav-link active" href="{% url 'productos_categoria' categoria %}"> {{categoria}} </a>
              </li>
            {% else %}
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'productos_categoria' categoria %}"> {{categoria}} </a>
              </li>
            {% endif %}
            
          {% endfor %}
        </ul>
        <hr class="d-sm-none">
      </div>
      
      {% comment %} generamos la tabla con el listado de los productos {% endcomment %}
      <div class="col-sm-8">
        <table class="table">
          <tbody>
            {% for producto in productos %}
              <tr>
                <td>
                  <div class="col-sm-4 "><div class="card" style="width:400px">
                    <div class="card-body">
                      <h4 class="card-title">{{producto.nombre}}</h4>
                      <p class="card-text"> {{producto.descripcion}} </p>
                      <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                    <img class="card-img-bottom" src={{producto.imagen}} alt="Card image" style="width:100%">
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
{% endblock contenido%}