{% extends "base.html" %}
{% load static %}
{% block titulo %}-Productos{% endblock titulo %}-Productos
{% block contenido%}

  {% comment %} <div id="formulario">
    <input type="text" id="codigo" placeholder="Código">
    <input type="text" id="nombre" placeholder="Nombre">
    <input type="text" id="descripcion" placeholder="Descripción">
    <input type="text" id="precio" placeholder="Precio">
    <input type="text" id="stock" placeholder="Stock">
    <input type="text" id="categoria" placeholder="Categoría">
    <input type="text" id="imagen" placeholder="URL de la imagen">
    <button id="btnAgregar">Agregar</button>
  </div> {% endcomment %}

  <table id="productosTable">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoría</th>
        <th>Imagen</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody id="productosBody">
      {% for producto in productos  %}
      <tr>  
        <td>
            {{producto.codigo}}
        </td>
        <td>
          {{producto.nombre}}
      </td>
        <td>
          {{producto.descripcion}}
        </td>
        <td>
          {{producto.precio}}
        </td>
        <td>
          {{producto.stock}}
      </td>
      <td>
        {{producto.stock}}
      </td>
      <td >
        <img style = "width: 100px;" src= {{producto.imagen}}> 
      </td>
      </tr>  
      {% endfor %}
    </tbody>
  </table>

  </div>
  {% if categoria %}
    <h3>Entraste pidiendo la categoría {{categoria}}</h3>
  {% else %}
    <h3>Entraste para ver todos los productos </h3>
  {% endif %}
  <script src="{% static "ecommerce/js/script_back.js" %}"></script>

{% endblock contenido%}