<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %} 
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vivero Los Lirios {% block titulo %}{% endblock titulo %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="{% static "ecommerce/css/styles.css" %}" /> 
  <link rel="shortcut icon" href="{% static "ecommerce/images/icono.png" %}" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  {% block extras_head %}{%endblock%}
</head>

<body>
<!--Seccion Header-->
  <header class="header">
    <nav class="navegacion">
      <div class="navegacion__logo">
        <a href="#portada">
          <img class="img" src="{% static "ecommerce/images/logo.png" %}" alt="logo">
        </a>
      </div>
      <ul class="menu">
        <li class="menu_li"><a class="menu_link" href="{% url "secciones" %}">INICIO</a></li>
        <li class="menu_li"><a class="menu_link" href="{% url "secciones" "productos" %}">PRODUCTOS</a></li>
        <li class="menu_li"><a class="menu_link" href="{% url "secciones" "servicios" %}">SERVICIOS</a></li>
        <li class="menu_li"><a class="menu_link" href="{% url "secciones" "about_us" %}">NOSOTROS</a></li>
        <li class="menu_li"><a class="menu_link" href="{% url "secciones" "contacto" %}">CONTACTO</a></li>
        {% if perms.administracion %}
        <li class="menu_li"><a class="menu_link" href="{% url "index_administracion" %}">ADMINISTRACION</a></li>
        {% endif %}
        
        <li class="menu_li">
          <form action="#" class="form-busqueda">
            <input type="search" placeholder="Buscar...">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </li>
      </ul>
      <ul class="carrito">
        {% if user.is_authenticated %}
          <li class="menu_li"><a class="menu_link">Usuario: {{ user.username }}</a></li>
          <li class="menu_li"><a class="menu_link" href="{% url 'ecommerce_logout' %}">Cerrar Sesión</a></li>
        {% else %}
          <li class="menu_li"><a class="menu_link" href="{% url "ecommerce_login" %}">INGRESAR</a></li>
          <li class="menu_li"><a class="menu_link" href="{% url "ecommerce_registrarse" %}">REGISTRARSE</a></li>
        {% endif %}
        <li class="menu_li"><a class="menu_link" href="{% url "ver_carrito" %}"><i class="fa fa-shopping-cart"></i></a></li>
      </ul>
        <!-- MENU PARA CELULAR -->
        <div id="menu__icono">
          <i class="fa fa-bars" aria-hidden="true" id="menu-hamburguesa"></i>
          <i class="fa fa-times close" aria-hidden="true" id="menu-cruz"></i>
        </div>
        <div class="menu__celular" id="menu__celular">
          <ul class="menu">
            <li class="menu_li"><a class="menu_link" href="{% url "secciones" %}">INICIO</a></li>
            <li class="menu_li"><a class="menu_link" href="{% url "secciones" "productos" %}">PRODUCTOS</a></li>
            <li class="menu_li"><a class="menu_link" href="{% url "secciones" "servicios" %}">SERVICIOS</a></li>
            <li class="menu_li"><a class="menu_link" href="{% url "secciones" "about_us" %}">NOSOTROS</a></li>
            <li class="menu_li"><a class="menu_link" href="{% url "secciones" "contacto" %}">CONTACTO</a></li>
            <li class="menu_li"><a class="menu_link" href="{% url "index_administracion" %}">ADMINISTRACION</a></li>
            <br>
            <br>
            {% if user.is_authenticated %}
              <li class="menu_li"><a class="menu_link">Usuario: {{ user.username }}</a></li>
              <li class="menu_li"><a class="menu_link" href="{% url 'ecommerce_logout' %}">Cerrar Sesión</a></li>
            {% else %}
              <li class="menu_li"><a class="menu_link" href="{% url "ecommerce_login" %}">INGRESAR</a></li>
              <li class="menu_li"><a class="menu_link" href="{% url "ecommerce_registrarse" %}">REGISTRARSE</a></li>
            {% endif %}
            <li class="menu_li"><a class="menu_link" href="#"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
        </div>
        <!-- FIN MENU PARA CELULAR -->
      </nav>
    </header>
  
  {% block contenido %}{% endblock contenido %}
  
  <!--Seccion footer-->
  <footer class="footer_base">
    <div class="footer_container">
      <div class="footer_row">
        <div class="footer_col">
          <h4>Compañia</h4>
          <ul>
            <li><a href="#about_us">Sobre Nosotros</a></li>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="#productos">Productos</a></li>
            <li><a href="#"><i class="fa fa-whatsapp"> +549-113245678</i></a></li>
          </ul>
        </div>
        <div class="footer_col">
          <h4>Ayuda</h4>
          <ul>
            <li><a href="#">Envios</a></li>
            <li><a href="#">Devoluciones</a></li>
            <li><a href="#">Estado de orden</a></li>
            <li><a href="#">Opciones de pago</a></li>
          </ul>
        </div>
        <div class="footer_col">
          <h4>Compra On-line</h4>
          <ul>
            <li><a href="#">Ver productos</a></li>
            <li><a href="#">Ver servicios</a></li>
          </ul>
        </div>
        <div class="footer_col">
          <h4>Nuestas Redes Sociales</h4>
          <div class="redes_sociales">
            <ul>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
          <div class="date">
            <p> Fecha y hora: {{ahora|date:"d/m/Y"}} {{ahora|time:"H:i"}}</p>
          </div>
        </div>
      </div>
    </div>
  </footer_base>
  <!-- Icono flotante de whatsapp -->
  <div id="whatsapp">
    <a href="#"><img src="{% static "ecommerce/icons/whatsapp.png" %}" alt="icono de whatsapp"></a>
  </div>
  <script src="{% static "ecommerce/js/index.js" %}"></script>
  {% if seccion %}
    <script>
      document.getElementById('{{ seccion }}').scrollIntoView();
    </script>
  {% endif %}
  <script src="https://kit.fontawesome.com/23b68efae4.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>