{% extends "base.html" %}
{% load static %}
{% block titulo %}-Productos{% endblock titulo %}-Productos

{% block contenido%}

    <h1 class="">Carrito</h1>

    <table id="productosTable" class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio</th>
          <th scope="col">Stock</th>
          <th scope="col">Categoría</th>
          <th scope="col">Imagen</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody id="productosBody">
        {% for producto in productos %}
            <tr>
                <td>{{producto.codigo}}</td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.descripcion}}</td>
                <td>{{producto.precio}}</td>
                <td>stock</td>
                <td>{{producto.categoria}}</td>
                <td>imagen</td>
                <td>acciones</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- ventana emergente que aparece al presionar sobre el boton editar -->
    <div id="ventanaEmergente" class="ventana-emergente">
      <div id="formularioEditar" style="display: none" class="w-50">
        <h2>Editar Producto</h2>
        <form class="w-100 py-4">
          <label for="codigoEditar" class="form-label">Código:</label>
          <!-- no es necesario colocar un valor ya que este atributo es autoincremental-->
          <input
            type="text"
            id="codigoEditar"
            class="form-control mb-3"
            disabled
          />
          <br />
          <label for="nombreEditar" class="form-label">Nombre:</label>
          <input type="text" id="nombreEditar" class="form-control mb-3" />
          <br />
          <label for="descripcionEditar" class="form-label">Descripción:</label>
          <input type="text" id="descripcionEditar" class="form-control mb-3" />
          <br />
          <label for="precioEditar" class="form-label">Precio:</label>
          <input type="text" id="precioEditar" class="form-control mb-3" />
          <br />
          <label for="stockEditar" class="form-label">Stock:</label>
          <input type="text" id="stockEditar" class="form-control mb-3" />
          <br />
          <label for="categoriaEditar" class="form-label">Categoría:</label>
          <input type="text" id="categoriaEditar" class="form-control mb-3" />
          <br />
          <label for="imagenEditar" class="form-label">Imagen:</label>
          <input type="text" id="imagenEditar" class="form-control mb-3" />
          <br />
          <div class="py-4 d-flex justify-content-evenly gap-4">
            <button type="button" id="btnActualizar" class="btn btn-success">
              Actualizar
            </button>
            <button type="button" id="btnCancelar" class="btn btn-secondary">
              Cancelar
            </button>
            <button type="button" id="btnCerrar" class="btn btn-outline-dark">
              Cerrar
            </button>
          </div>
        </form>
      </div>
    </div>

    <script src="./frontend/assets/js/fetchData.js"></script>
    <!--vinculamos nuestro archivo js al html -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>

{% endblock contenido%}