{% extends "ecommerce/base.html" %}
{% load static %}
{% block titulo %}-Productos{% endblock titulo %}-Productos

{% block contenido%}
  
  <div class="container mt-5">
    <div class="row">
      {% comment %} generamos la barra de navegacion lateral {% endcomment %}
      <div class="col-sm-3">
        <h3 class="mt-4">Productos:</h3>
        <ul class="nav nav-pills flex-column">
          {% for categoria in categorias %}
            {% if categoria.nombre == activo %}
              <li class="nav-item ">
                <a class="nav-link active" href="{% url 'productos_categoria' categoria.nombre %}"> {{categoria.nombre | capfirst}} </a>
              </li>
            {% else %}
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'productos_categoria' categoria.nombre %}"> {{categoria.nombre | capfirst}} </a>
              </li>
            {% endif %}
            
          {% endfor %}
        </ul>
        <hr class="d-sm-none">
      </div>
            
      <div class="col-sm-8">
        <div class="row">
          {% for un_producto in productos %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src= alt="imagen del producto" style="height: 225px; width: 100%; display: block;" src={{un_producto.imagen}} data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">{{un_producto.descripcion | capfirst }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'ver_carrito' %}"><button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button></a>
                      {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
                    </div>
                    <small class="text-muted">{{un_producto.precio}}</small>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
      
    </div>
  </div>
  
{% endblock contenido%}


