{% extends "ecommerce/base.html" %}
{% load static %}
{% block titulo %}-Ingrese{% endblock titulo %}-Productos
{% block contenido%}
    <h1>Registro</h1>

    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          {% comment %} <div class="mensaje__error"> {{ message }} </div> {% endcomment %}
          <div class="alert alert-danger alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            {{message}}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    
    <div class="contacto__container">
        <form method="POST">
        {% csrf_token %}
        {{form}}
        <button id="submit" type="submit">ENVIAR</button>
        </form>
    </div>
    <br>
{% endblock contenido%}