{% extends "ecommerce/base.html" %} 
{% load static %}
{% block titulo %}Administracion - Crear Producto{% endblock titulo %}
{% block contenido %}

  <div class="container mt-3">
    <h2>Agregar Producto</h2>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {% for campo in form %}
        <div class="mb-3 mt-3">
          <label for="name">{{ campo.label }}</label>
          {{campo}}
          <div>{{campo.errors}}</div>
        </div>    
        
      {% endfor %}
      <button type="submit" class="btn btn-primary">AGREGAR</button>
    </form> 
  </div>

{% endblock contenido %} 