<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    editar categoria

    <form action="" method="post">
        {% csrf_token %}
        {% for campo in form %}
          <div class="mb-3 mt-3">
            <label for="name">{{ campo.label }}</label>
            {{campo}}
            <div>{{campo.errors}}</div>
          </div>    
          
        {% endfor %}
        <button type="submit" class="btn btn-primary">EDITAR</button>
      </form> 
   
</body>
</html>
