{% extends "ecommerce/base.html" %}
{% load static %}
{% block titulo %}Administracion - Editar Categoria{% endblock titulo %}
{% block contenido%}

<div class="container mt-3">
  <h2>Editar Categoria</h2>
  <form action="" method="post">
    {% csrf_token %}
    {% for campo in form %}
      <div class="mb-3 mt-3">
        <label for="name">{{ campo.label }}</label>
        {{campo}}
        <div>{{campo.errors}}</div>
      </div>    
      
    {% endfor %}
    <button type="submit" class="btn btn-primary">EDITAR</button>
  </form> 
</div>
   
{% endblock contenido%}