{% extends "ecommerce/base.html" %}
{% load static %}
{% block titulo %}Administracion{% endblock titulo %}

{% block contenido%}
    <main>
        <table class="table">
            <thead>
                <th>
                    <tr>
                        <td>Tablas Administrables</td>
                    </tr>
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="{% url 'index_categoria' %}">Categorias</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'index_producto' %}">Productos</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>    
    
{% endblock contenido %}
